/* Generel tags */
body {
	padding-bottom: 100px;
}
a, a:hover {
	color: black;
	text-decoration: none;
}
a:visited, a:links {
	color: black;
}
.mh-200 {
	min-height: 200px !important;
}
.plr-80 {
	padding: 0 80px;
}
.left {
	left: 0 !important;
}

/* Navbar */
.site-links>a>li {
	font-size: 18px;
}
.alert {
	text-align: center !important;
}
.container {
	position: relative;
}

.title-box {
	min-height: 100px;
}
.add-blog-btn {
	position: absolute;
	right: 0;
	top: calc((100% - 40px) / 2);
}

.icon-box {
	float: right;
	color: red;
	background: none;
    border: none;
	font-size: 25px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.icon-box:hover {
	color: black;
}

