/* Generel tags */
body {
	padding-bottom: 100px;
}
a, a:hover {
	color: black;
	text-decoration: none;
}
a:visited, a:links {
	color: black;
}

/* Navbar */
.site-links>a>li {
	font-size: 18px;
}
.alert {
	text-align: center !important;
}
.container {
	position: relative;
}
.add-blog-btn {
	position: absolute;
	right: 0;
	top: 41.5px;
}
